html{
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

h2{
  font-size: 32px;
  color: white;
  font-weight: bold;
}

h2.brushes{
  background-color: mediumspringgreen;
}

h2.frames{
  background-color:lightcoral;
}

h2.paint{
  background-color: skyblue;
}

.price{
  color: blue;
  font-weight: bold;
}
